{% extends "base.html" %}
{% load mfa_articles_tags %}

{% block content %}
	{% if category %}
	<div class="category-description">
		<h1>{{ category.title }}</h1>
		{% autoescape off %}{{ category.description }}{% endautoescape %}
	</div>
	{% endif%}
	{% for article in articles %}
	<h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
	<div class="descr">{{ article.pub_date }}</div>
	<p>{{ article.description }}</p>	
	{% empty %}
	<h3>There is no articles yet</h3>
	{% endfor %}
	<center><img src="{{ MEDIA_URL }}common_img/testsense/banner_img.jpg" /></center>
{% endblock %}